<mat-form-field class="personForm" appearance="fill">
  <mat-label>First Name:</mat-label>
  <input matInput [(ngModel)]="person.firstName" placeholder="persons first name">
</mat-form-field>

<mat-form-field class="personForm" appearance="fill">
  <mat-label>Last Name:</mat-label>
  <input matInput [(ngModel)]="person.lastName" placeholder="persons last name">
</mat-form-field>

<mat-form-field class="personForm" appearance="fill">
  <mat-label>DOB:</mat-label>
  <input matInput [(ngModel)]="person.dob" placeholder="persons DOB">
</mat-form-field>

<mat-form-field class="personForm" appearance="fill">
  <mat-label>Email:</mat-label>
  <input matInput [(ngModel)]="person.email" placeholder="persons email">
</mat-form-field>

<mat-form-field class="personForm" appearance="fill">
  <mat-label>ID:</mat-label>
  <input matInput [(ngModel)]="person.id" placeholder="persons id">
</mat-form-field>


<button (click)="updatePerson(person)" mat-raised-button color="accent">Submit</button>


